/logs/*
!/logs/README.md
.idea
**/settings.yml
build/*
config/settings.yml
app.yaml
.idea
pmod-app/csv/*
**/**/*.png
vids
*.mp4
_elevate-recoveries/vids/php-sql.mp4
*.xlsx
logs
*.pyc 
python-getting-started
resources-names
core-py/*.csv
csv
jupyter